### Задание 3

Используйте файл с оценками фильмов `ml-latest-small/ratings.csv`. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца `timestamp` для данного значения `userId`.

In [1]:
import sys
sys.path.append('../')
from helpers import MovieLensDatasets

dataset_helper = MovieLensDatasets()
dataset_helper.prepare_datasets()

File 'ml-latest-small.zip' is already downloaded.
ml-latest-small/
ml-latest-small/links.csv
ml-latest-small/tags.csv
ml-latest-small/ratings.csv
ml-latest-small/README.txt
ml-latest-small/movies.csv

In [2]:
import pandas as pd

ratings = pd.read_csv('ml-latest-small/ratings.csv')

In [3]:
aggregated = ratings.groupby('userId').agg({'rating': 'count', 'timestamp': ['min', 'max']})
aggregated['lifetime'] = aggregated.timestamp['max'] - aggregated.timestamp['min']
aggregated.head()

       rating   timestamp              lifetime
        count         min         max
userId
1         232   964980499   965719662    739163
2          29  1445714835  1445715340       505
3          39  1306463323  1306464293       970
4         216   945078428  1007574542  62496114
5          44   847434747   847435337       590

In [4]:
days = aggregated.loc[aggregated.rating['count'] > 100, 'lifetime'].mean() / (60 * 60 * 24)
print(f'Среднее время жизни пользователей выставивших более 100 оценок: {days} дней')

Среднее время жизни пользователей выставивших более 100 оценок: 517.7241635959939 дней