### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
# download data if we haven't it
# TODO. Need to rewrite from shell to python
!./helper/download_data.sh

Data already downloaded.
Current files:
=====================
ml-latest-small/
ml-latest-small/ratings.csv
ml-latest-small/movies.csv
ml-latest-small/tags.csv
ml-latest-small/links.csv
ml-latest-small/README.txt
=====================

In [2]:
import pandas as pd

ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head(3)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224

In [3]:
# filtering original data
filtered_ratings = ratings[ ratings['rating'] == 5.0 ]
filtered_ratings = filtered_ratings[['movieId','rating']]
# count number of rating for movies and sort it by desc
ratings_count_per_movie = filtered_ratings.groupby('movieId').count().sort_values('rating', ascending=False)
ratings_count_per_movie.head(3)

         rating
movieId
318         153
296         123
356         116

In [4]:
movies = pd.read_csv('ml-latest-small/movies.csv')
movies.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [5]:
# extract movie id from top of ratings
top_movie_id = ratings_count_per_movie.index[0]
# filter info in movies by movieId
top_movie = movies[ movies['movieId'] == top_movie_id ]
top_movie.title.values[0]

'Shawshank Redemption, The (1994)'