### Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец `class`

In [1]:
import sys
sys.path.append('../')
from helpers import MovieLensDatasets

dataset_helper = MovieLensDatasets()
dataset_helper.prepare_datasets()

File 'ml-latest-small.zip' is already downloaded.
ml-latest-small/
ml-latest-small/links.csv
ml-latest-small/tags.csv
ml-latest-small/ratings.csv
ml-latest-small/README.txt
ml-latest-small/movies.csv

In [2]:
def class_by_rating(rating):
    if rating <= 2: return 'low'
    if rating <= 4: return 'middle'
    if rating >= 4.5: return 'high'

In [3]:
import pandas as pd

ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings['class'] = ratings.rating.apply(class_by_rating)
ratings.head(3)

   userId  movieId  rating  timestamp   class
0       1        1     4.0  964982703  middle
1       1        3     4.0  964981247  middle
2       1        6     4.0  964982224  middle